 <!--Import Google Icon Font-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


<!-- SearchForm -->
<div class="container">
    <div class="row" style="margin-top: 70px;">
        <div class="col s12" style="text-align: center;">
            <h1>Find your next car hassle free!</h1>
            <!-- filter form -->
            <form id="filter">
                <label>Quick search</label>
                <input type="text" id="term" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
            </form>
            
        </div>
    </div>
</div>


<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" (click)="previousPage()">Previous</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-primary" (click)="nextPage()">Next</button>
        </div>
    </div>
</div> <!-- container -->
  
<!-- card -->
<div class="container">
    <div class="row card-group">
        <div class="col-sm-6 col-md-4 col-lg-3 white" *ngFor = "let carListings of car_list | async | filter: term"> <!-- filter pipe goes here-->
            <div class="card white" style = "margin: auto; cursor: pointer; max-height: 500px" [routerLink] = "['/CarListings', carListings._id]">
                    <ng-template *ngIf = "carListings.photos?.length; then showBlock; else notShowBlock"></ng-template>
                    <ng-template #showBlock >
                        <img src="{{carListings.photos[0].filepath}}" style="max-height: 170px; width: auto; object-fit: contain;">
                    </ng-template>
                    <ng-template #notShowBlock>
                        <img src="assets/images/noPictures.jpg" alt="no picture on file" style="height: 150px;">
                    </ng-template>
                <div class="card-content">
                   <div class="card-title">
                    {{ carListings.make }}
                </div>
                    <div class="row">Model: {{ carListings.model }}</div>
                    <div class="row">Year: {{ carListings.year }}</div>
                    <div class="row">Gearbox: {{ carListings.gearbox }}</div>
                    <div class="row">{{carListings.engineCapacity}}cc {{carListings.engineType}}</div>
                </div>
                <div class="card-action">
                    £{{carListings.price}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <a class="btn btn-primary" (click)="sponsoredAds()">
        Shop by car type
      </a>
      <div *ngIf="showMeTA">
        <div class="card card-body">
          <!-- here goes the filtered cars for knowledge based -->
          here goes the filtered cars for knowledge based
        </div>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-primary" (click)="recommendedAds()">
        Recommended for you
      </a>
      <div *ngIf="showMeRA">
        <div class="card card-body">
          <!-- here goes the recommended cars based on content based filtering -->
          here goes the recommended cars based on content based filtering
        </div>
      </div>
    </div>
    <div class="row">
        <a class="btn btn-primary" (click)="similarAds()">
          People like you liked:
        </a>
        <div *ngIf="showMeCF">
          <div class="card card-body">
            <!-- here goes the recommended cars based on collaborative based filtering -->
            here goes the recommended cars based on collaborative based filtering
          </div>
        </div>
      </div>
      </div>

<!-- hidden add -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <h4>Add a car</h4> <a (click)="toggleTag()" class="btn-floating blue pulse">
                    <i class="material-icons">add</i>
                </a>
                <form [formGroup]="carForm" (ngSubmit)="onSubmit()" *ngIf="showMe">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="make">Make</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="make" name="make" class="form-control" formControlName="make">
                            </div>
                            <span class="error" *ngIf="make.invalid">Make is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="model">Model</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="model" name="model" class="form-control" formControlName="model">
                            </div>
                            <span class="error" *ngIf="model.invalid">Model is required & is letters only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="year">Year</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="year" name="year" class="form-control" formControlName="year">
                            </div>
                            <span class="error" *ngIf="year.invalid">Year must be numbers only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="gearbox">Gearbox</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="gearbox" id="gearbox" formControlName="gearbox" class="form-select" aria-label="Default select example">
                                    <option value="Manual">Manual</option>
                                    <option value="Automatic">Automatic</option>
                                </select>
                            </div>
                            <span class="error" *ngIf="gearbox.invalid">Gearbox is required. Please select from dropdown.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="engineCapacity">Engine Capacity</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="engineCapacity" name="engineCapacity" class="form-control" formControlName="engineCapacity">
                            </div>
                            <span class="error" *ngIf="engineCapacity.invalid">Engine capacity cc. must be numbers only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="engineType">Engine Type</label>
                            </div>
                            <div class="col-sm-9">
                                <select name="engineType" id="engineType" formControlName="engineType" class="form-select" aria-label="Default select example">
                                    <option value="Petrol">Petrol</option>
                                    <option value="Diesel">Diesel</option>
                                    <option value="Electric">Electric</option>
                                </select>
                            </div>
                            <span class="error" *ngIf="engineType.invalid">Engine type is required. Please select from dropdown.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="numberSeats">Number of Seats</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="numberSeats" name="numberSeats" class="form-control" formControlName="numberSeats">
                            </div>
                            <span class="error" *ngIf="numberSeats.invalid">No. seats must be numbers only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="numberDoors">Number of Doors</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="numberDoors" name="numberDoors" class="form-control" formControlName="numberDoors">
                            </div>
                            <span class="error" *ngIf="numberDoors.invalid">No. doors must be numbers only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="colour">Colour</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="colour" name="colour" class="form-control" formControlName="colour"> 
                            </div>
                            <span class="error" *ngIf="colour.invalid">Colour is required and must be letters only.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="regNumber">Reg Number</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="regNumber" name="regNumber" class="form-control" formControlName="regNumber">
                            </div>
                            <span class="error" *ngIf="regNumber.invalid">Registration number is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="Price">Price £</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="price" name="price" class="form-control" formControlName="price">
                            </div>
                            <span class="error" *ngIf="price.invalid">Price must be numbers only</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="3" class="form-control" formControlName="description"></textarea>
                    </div>
                    <button class="btn.btn-primary" type="submit">Submit</button>
                </form>
        </div>
    </div>
</div>