<div class="container" style="padding-top: 70px;">
    <h1>Welcome to MD Cars!</h1>

<!-- Photo grid -->
<div class="container section scrollspy" id="experience">
    <div class="row" style="margin-top: 5px;">
        <div class="col s4 l4">
            <img src="../assets/homeImages/pexels-lee-chinyama-9162114.jpg" alt="html" class="responsive-img materialboxed" style="background-color: transparent; max-width: 100%;">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="indigo-text text-darken-4">Why use us?</h2>
            <p>Consumer reports say that car customers are some of the most uninformed customers online</p>
            <p>We want to make that easy for you. We know the pleasure cars can bring us, so we are passionate to provide you the best service possible</p>
            <p>We take the guesswork out and give you suggestions for those unsure of what they want</p>
            <p>.. or give you the tools to get the exact car you want</p>
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col s8 l8 pull-l5 right-align offset-l1">
            <h2 class="indigo-text text-darken-4">We take the guesswork out</h2>
            <p>Using top of the range AI technologies, we will help you find the perfect car for you</p>
            <p>Shop by popular models, trending adverts, or, with your permission, let us track your interests and recommend you a car that we think you will love</p>
        </div>
        <div class="col s4 l4 push-l7 offset-l1">
            <img src="../assets/homeImages/pexels-kelson-downes-1149137.jpg" alt="insertion Sort photo" class="responsive-img materialboxed" style="max-width: 100%;">
        </div>
    </div>
    <div class="row" style="margin-top: 5px;">
        <div class="col s4 l4">
            <img src="../assets/homeImages/pexels-cottonbro-4482014.jpg" alt="database photo" class="responsive-img materialboxed" style="max-width: 100%;">
        </div>
        <div class="col s8 offset-l1">
            <h2 class="indigo-text text-darken-4">For the love of cars...</h2>
            <p>We have a passion for cars and we want to help facilitate that to our customers.</p>
            <p>Many car websites are heavily dealer oriented. This is because of the high quality that such brings. </p>
            <p>This means however that listings are limited. We love cars from all areas, circuit racing, drift cars, rally etc.</p>
            <p>We can offer these listings to our customers, but we heavily monitor them to ensure quality</p>
            <p>We want this service to be a service for everyone</p>
        </div>
    </div>
</div>

<!-- Trending searches -->
<div class="container">
    <div class="row">
        <p>Head to the listings page to get started!</p>
        <a routerLink="/CarListings" class="nav-link">Cars</a>
    </div>
</div>