/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

footer {
    display: flex;
    align-items: flex-end;
}
.form-group {
    padding-top: 5px;
}